<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link href="{{ site.url }}css/qr-tag.css" rel="stylesheet" type="text/css"/>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ site.url }}js/qrcode.js"></script>
    <script src="{{ site.url }}js/qr-tag.js"></script>
  </head>

  <body>

		{{{body}}}

  </body>
</html>
